.exit {
  height: 177.86667vw;
  background-color: #f6f6f6;
}

.exit .user-header {
  text-align: center;
  position: relative;
  padding: 2.66667vw;
  font-size: 4.53333vw;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  background: #1abc9c;
  border-bottom: none;
  color: #fff;
}

.exit .user-header a {
  position: absolute;
  left: 2.66667vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ccc;
  font-size: 8.53333vw;
  color: #fff;
}

.exit .menu .user-menu {
  font-size: 3.73333vw;
  padding: 4vw 0;
  background: #fff;
  border-bottom: 1px solid #F5F5F5;
  color: #333;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.exit .menu .user-menu .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.exit .menu .user-menu .table-cell:nth-child(1) {
  width: 80%;
  padding-left: 5.33333vw;
  text-align: left;
}

.exit .menu .user-menu .table-cell:nth-child(2) {
  width: 20%;
}

.exit .logout-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  color: #1abc9c;
  font-size: 3.73333vw;
  text-align: center;
  padding: 4vw 0;
  z-index: 4;
}
