@function vw($px) {
    @return ($px/375) * 100vw;
}

.guide-wrap {
    min-height: 100vh;
    background-color: #f6f6f6;

    .city-container {
        position: relative;
        background: #000;

        img {
            opacity: .8;
            display: block;
            width: 100%;
        }

        .city-name {
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            line-height: 2;
            text-align: center;

            .city {
                font-size: vw(20);
                font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif !important;
            }
        }
    }

    .guide-nav {
        padding: vw(15) 0;

        .table-mode {
            display: table;
            width: 100%;
            table-layout: fixed;

            .table-cell {
                width: 25%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                .cate-icon {
                    display: inline-block;
                    background: #fff;
                    width: vw(45);
                    height: vw(45);
                    border-radius: 50%;
                    color: #333;
                    line-height: vw(45);
                    margin-bottom: 0;

                    .iconfont {
                        font-family: "iconfont" !important;
                        font-size: 16px;
                        font-style: normal;
                        -webkit-font-smoothing: antialiased;
                        font-size: vw(26);
                    }
                }

                .cate-name {
                    color: #666;
                    margin-top: vw(3);
                    font-size: vw(12) !important;
                    margin-bottom: 0;
                }
            }
        }
    }

    .detail-container {
        background: #fff;
        padding: 0 vw(10);
        margin-top: vw(10);
        min-height: auto;

        .header-title-wrap {
            color: #2D2D2D;
            padding: vw(15) 0;
            line-height: 1.8;
            font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif !important;
            font-size: vw(16) !important;
            text-align: center;

            .section-title {
                vertical-align: middle;
            }
        }



        .theme-item {
            display: block;
            padding-bottom: vw(20);
            border-bottom: 1px solid #e5e5e5;
            margin-top: vw(20);
            position: relative;
            position: relative;
            padding: 0;
            min-height: 100px;
            margin: vw(15) 0 vw(20);

            margin-top: 0;
            // margin-bottom: 0;


            .thumb-wrap {
                overflow: hidden;
                width: 100%;
                margin-bottom: vw(5);
                margin: 0;

                img {
                    display: block;
                    width: 100%;
                    max-height: 22.4vh;
                }
            }

            .theme-desc {
                position: absolute;
                color: #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 80%;
                z-index: 2;
                text-align: center;

                .content {
                    line-height: 150%;
                    font-size: vw(12);
                    color: #333;
                    color: #fff;
                    font-size: vw(16);
                    font-weight: bold;
                }

                .style-tag {
                    color: #999;
                    font-size: vw(10);
                    margin-top: vw(10);
                    color: #fff;

                    span {
                        padding: vw(5);
                        font-size: vw(14) !important;
                    }
                }
            }
        }



        .table-cells {
            margin-bottom: 0;
        }

        .get-more-list {
            display: block;
            text-align: center;
            color: #1abc9c;
            font-size: vw(14);
            padding: 0 0 vw(15) 0;
        }
    }



    .detail-container {
        .theme-item {
            margin-top: 0;
        }

        .theme-item-path {
            margin: 0;
            border: none;
            padding: vw(20) 0;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            border-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            margin-top: vw(20);

            .thumb-wrap {
                overflow: hidden;
                width: 100%;
                margin-bottom: vw(5);
                padding-bottom: vw(20);
                margin-bottom: vw(20);
                border-bottom: 1px solid #eee;
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: vw(10);

                img {
                    width: 32%;
                    margin-left: 2%;
                    float: left;
                    display: block;
                }

                img:first-child {
                    margin-left: 0;
                }


            }

            .content {
                line-height: 150%;
                color: #333;
                font-size: vw(14);

                .regular-font {
                    font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif !important;
                }

                p {
                    color: #333;
                    font-size: vw(12);
                    margin-top: vw(10);
                }
            }
        }
    }

    .detail-container {
        .item {
            border-bottom: 1px solid #e8e8e8;

            img {
                max-height: 35.3vh;
                display: block;
                width: 100%;

            }

            .title {
                font-size: vw(14);
                color: #333;
                line-height: 2;
                padding: vw(10);
                font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif !important;
                text-align: center;
            }
        }

        .flex-wrap {
            flex-flow: row nowrap;
            padding: 0 vw(10) vw(10);
            display: flex;



            .flex-item {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                width: 33%;
                flex: 0 1 auto;
                color: #333;
                margin-left: vw(10);

                img {
                    display: block;
                    width: 100%;
                    height: vw(78);
                }

                .item-title {
                    margin-top: vw(8);
                    font-size: vw(14) !important;
                    text-align: center;
                }

                .font-sm {
                    font-size: vw(12) !important;
                }
            }


        }

        .flex-item:nth-child(1) {
            margin-left: vw(0);
        }

        .list-wrap {
            .item {
                display: block;
                position: relative;
                width: 48.5%;
                margin-left: 3%;
                margin-top: 0;
                margin-bottom: vw(10);
                float: left;
                text-align: center;
                border-bottom: 0px solid #e8e8e8;

                .item-thumb {
                    img {
                        display: block;
                        width: 100%;
                        height: vw(97);
                    }
                }

                .item-title {
                    padding: vw(8) 0;
                    color: #333;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: vw(12) !important;
                }

                .area {
                    color: #666;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0;
                    padding: 0;
                    font-size: vw(12) !important;
                }

                .price {
                    color: #000;
                    font-size: vw(12) !important;
                    margin: 0;
                    padding: 0;
                }
            }

            .item:nth-child(odd) {
                margin-left: 0;
            }
        }
    }
}