.home-wrap{
    background-color: #f6f6f6;
    color: #2d2d2d;
    font-size: .625rem;
}
.back-title{
    text-align: center;
    position: relative;
    padding: .625rem;
    font-size: 1.0625rem;
    background-color: white;
    span{
        visibility: visible;
    }
    .iconfont{
        position: absolute;
        left: .625rem;
        top: 50%;
        // -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #ccc;
        font-size: 2rem;
    }
}
.news-container{
    background: #fff;
    margin-top: .0625rem;
    margin-bottom: 3.125rem;
    .list{
        border-top: .0625rem solid #F2F2F2;
        padding: .875rem .6875rem;
        border-bottom: .0625rem solid #F2F2F2;
        .flex-wrap{
            display: flex;
            align-items: center;
            color: #2d2d2d;
            img{
                width: 4.5rem;
                height: 4.5rem;
            }
            .news-item{
                margin-left: 1.5rem;
                width: 16.0625rem;
                .news-title{
                    margin-bottom: .5rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    font-size: .875rem !important;
                }
                .p2{
                    .separate{
                        padding: 0 .625rem;
                    }
                }
            }
        }
        .flex-wrap+.flex-wrap{
            border-top: .0625rem solid #F2F2F2;
            margin-top: .6875rem;
            padding-top: .6875rem;
        }
    }
}